@font-face{
 font-family:crep;
 src:url(RW-creepsville.ttf);

}
.container{
    color:black;
}
h2{
    font-family:crep;
}

.fonte{
    font-family:crep;
}
.conteudo{
    background-color:#f7f7f7;
    color:black;
}
.bg-hex{
    color:black !important;
    background-color:#000000!important;
    
}
.img1{
  position:left relative;
}
.img4{
    max-height: 100%;
    max-width: 100%;
}
.menu{
    
    font-size:verdana;
    text-align: center;
    color:#000000;
    font-style: bold;
}
.card-img-top{
    width: 400px;
    height:300px;

}
.total{
    color:black;
    font-size: 40px;
    align-self: center;
}
.text-muted{
    text-align: center;
    color:black bold;
}

.container .card-footer
{
    color: black;
}
p{
    color:black;
    font-style: bold;
    font-size: 35px;
}
